
p {
    font-size: 3em;
    color: #565656;
    width: 100%;
    text-align: center;
}


ion-input {
    color: white;
}
ion-content {
    color: white;
}

ion-toolbar {
    background: rgb(241, 11, 11);
}


.top {
    margin: 30px;
}
